.team_member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
  height: 470px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-top: 22px;
}

.img_position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s {
  width: 86%;
}

.r {
  width: 77%;
  margin-top: -179.5px;
}

.profile_intro {
  padding-top: 25px;
  text-align: center;
  margin: 0px 7%;
}

.profile_intro h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 47px;
  text-transform: uppercase;
  color: #232233;
}

.profile_intro h2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #6c6c72;
  margin-top: -24px;
}

.profile_intro p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #6c6c72;
}

.social_icon {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  gap: 27px;
}

.f_b {
  width: 3.8%;
  height: 16px;
}

.ins_ta {
  width: 6%;
  height: 16px;
}
.twi_ttr {
  width: 7%;
  height: 16px;
}
.you_tube {
  width: 6%;
  height: 13px;
}

.social_icon div {
  border-right: 1px solid #6c6c72;
}

@media only screen and (max-width: 1214px) {
  .team_member {
    width: 28%;
  }
}
@media only screen and (max-width: 954px) {
  .team_member {
    height: 490px;
  }
  .profile_intro h1 {
    font-size: 20px;
  }
  .profile_intro h2 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 823px) {
  .profile_intro h1 {
    font-size: 19px;
  }
  .profile_intro h2 {
    font-size: 13px;
  }
  .social_icon {
    gap: 23px;
  }
}
@media only screen and (max-width: 784px) {
  .profile_intro h1 {
    font-size: 18px;
  }
  .profile_intro p {
    font-size: 13px;
  }
  .social_icon {
    gap: 21px;
  }
  .s {
    width: 85%;
  }

  .r {
    width: 76%;
    margin-top: -177px;
  }
}
@media only screen and (max-width: 779px) {
  .r {
    margin-top: -176px;
  }
}
@media only screen and (max-width: 775px) {
  .r {
    margin-top: -175px;
  }
}
@media only screen and (max-width: 769px) {
  .r {
    margin-top: -174px;
  }
}
@media only screen and (max-width: 768px) {
  .team_member {
    width: 28.5%;
    height: 460px;
  }

  .s {
    width: 73%;
  }

  .r {
    width: 66%;
    margin-top: -152px;
  }
}
