.customer {
  display: flex;
  position: relative;
  /* height: 750px; */
  margin-top: 120px;
}

.customer_back {
  position: absolute;

  inset: 0;
  /* display: flex; */
}

.customer_back img {
  height: 740px;
  width: 100%;
  z-index: 0;
}

.customer_items {
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.customer_items1 {
  text-align: center;
  padding-top: 70px;
  margin: 0px 25%;
  margin-bottom: 25px;
}

.customer_items1 h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 47px;
  text-transform: uppercase;
  color: #ffffff;
}

.customer_items1 p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 10px;
  margin-top: -4px;
}

.carousel {
  height: 350px;
  width: 65%;
  margin: 0 auto;
}

.css-1fzpoyk {
  opacity: 1 !important;
}

@media only screen and (max-width: 768px) {
  .customer_back img {
    height: 840px;
  }

  .carousel {
    height: 300px;
    width: 88%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 587px) {
  .customer_back img {
    height: 860px;
  }

  .carousel {
    height: 300px;
    width: 88%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 425px) {
  .customer_back img {
    height: 865px;
  }

  .carousel {
    height: 290px;
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 320px) {
  .customer_back img {
    height: 950px;
  }
}
