.app_perfectly {
  display: flex;
  position: relative;
  height: 575px;
  margin-top: 120px;
}

.app_perfectly_back {
  position: absolute;

  inset: 0;
  /* display: flex; */
}

.app_perfectly_back img {
  height: 475px;
  width: 100%;
  z-index: 0;
}

.app_perfectly_items {
  /* width: 100%; */
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app_perfectly_items1 {
  text-align: center;
  padding-top: 100px;
  margin: 0px 25%;
  margin-bottom: 25px;
}

.app_perfectly_items1 h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 47px;
  text-transform: uppercase;
  color: #ffffff;
}

.app_perfectly_items1 p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 10px;
  margin-top: -4px;
}

.app_perfectly_items2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  width: 100%;
  margin-top: -95px;
}

.videoicon {
  margin-top: -32%;
}

.team {
  margin-top: 170px;
}

.reative_team {
  margin: 20px 25%;
}

.reative_team h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: #232233;
}
.reative_team p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6c6c72;
}

.profile {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding: 45px 0px;
}

@media only screen and (max-width: 1214px) {
  .profile {
    gap: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .profile {
    gap: 25px;
  }
}

@media only screen and (max-width: 1091px) {
  .app_perfectly_back img {
    height: 497px;
  }
}

@media only screen and (max-width: 464px) {
  .app_perfectly_items1 h1 {
    font-size: 23px;
    line-height: 41px;
  }
}
@media only screen and (max-width: 425px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 415px) {
  .app_perfectly_items1 h1 {
    font-size: 23px;
    line-height: 41px;
  }
  .app_perfectly_items1 p {
    font-size: 15px;
    line-height: 23px;
  }
}
@media only screen and (max-width: 395px) {
  .app_perfectly_items1 h1 {
    font-size: 22px;
    line-height: 43px;
  }
}
@media only screen and (max-width: 395px) {
  .app_perfectly_items1 p {
    font-size: 12px;
    line-height: 21px;
  }
}
