.app_perfectly {
  display: flex;
  position: relative;
  height: 575px;
  margin-top: 120px;
}

.app_perfectly_back {
  position: absolute;

  inset: 0;
  /* display: flex; */
}

.app_perfectly_back img {
  height: 475px;
  width: 100%;
  z-index: 0;
}

.app_perfectly_items {
  /* width: 100%; */
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app_perfectly_items1 {
  text-align: center;
  padding-top: 100px;
  margin: 0px 25%;
  margin-bottom: 25px;
}

.app_perfectly_items1 h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 47px;
  text-transform: uppercase;
  color: #ffffff;
}

.app_perfectly_items1 p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 10px;
  margin-top: -4px;
}

.app_perfectly_items2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  margin-top: -95px;
}

.videoicon {
  margin-top: -310px;
}

.team {
  margin-top: 170px;
}

.reative_team {
  margin: 20px 25%;
}

.reative_team h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: #232233;
}
.reative_team p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6c6c72;
}

.profile {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding: 45px 0px;
}

@media only screen and (max-width: 1214px) {
  .profile {
    gap: 30px;
  }
}

@media only screen and (max-width: 1091px) {
  .app_perfectly_back img {
    height: 497px;
  }

  .video {
    width: 870px;
    height: 531px;
  }

  .videoicon {
    width: 65px;
    height: 65px;
  }
}

@media only screen and (max-width: 969px) {
  .app_perfectly_back img {
    height: 475px;
  }

  .video {
    width: 770px;
    height: 431px;
    margin-top: -80px;
  }

  .videoicon {
    width: 65px;
    height: 65px;
    margin-top: -260px;
  }
}

@media only screen and (max-width: 889px) {
  .app_perfectly_back img {
    height: 520px;
  }
}

@media only screen and (max-width: 807px) {
  .app_perfectly_back img {
    height: 542px;
  }
}

@media only screen and (max-width: 769px) {
  .app_perfectly_back img {
    height: 510px;
  }

  .video {
    width: 695px;
    height: 365px;
    margin-top: -80px;
  }

  .videoicon {
    width: 60px;
    height: 60px;
    margin-top: -220px;
  }
}

@media only screen and (max-width: 768px) {
  .profile {
    gap: 25px;
  }
}

@media only screen and (max-width: 694px) {
  .app_perfectly_back img {
    height: 490px;
  }

  .app_perfectly_items1 h1 {
    font-size: 22px;
  }

  .app_perfectly_items1 p {
    font-size: 14px;
  }

  .video {
    width: 650px;
    height: 345px;
    margin-top: -80px;
  }

  .videoicon {
    width: 58px;
    height: 58px;
    margin-top: -220px;
  }
}

@media only screen and (max-width: 649px) {
  .app_perfectly_items1 h1 {
    font-size: 20px;
  }

  .app_perfectly_items1 p {
    font-size: 14px;
  }

  .video {
    width: 620px;
    height: 354px;
    /* margin-top: -80px; */
  }
}
@media only screen and (max-width: 619px) {
  .video {
    width: 600px;
    height: 354px;
  }
}
@media only screen and (max-width: 600px) {
  .app_perfectly_back img {
    height: 487px;
  }

  .app_perfectly_items1 h1 {
    font-size: 19px;
  }

  .app_perfectly_items1 p {
    font-size: 13px;
  }

  .video {
    width: 590px;
    height: 354px;
    /* margin-top: -80px; */
  }
}
