.sec-1 {
  margin: 20px 40px;
  padding: 40px 320px;
}

.sec-1 h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: #232233;
}
.sec-1 p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;
  color: #6c6c72;
}

.sec-2 {
  display: flex;
  justify-content: center;
}

.aboutImage {
  width: 50%;
}

.aboutImage img {
  height: 412px;
  /* margin-top: 90px; */
  margin-left: 160px;
}

.sec-2-card {
  width: 50%;
  display: block;
}

.cards {
  display: flex;
  gap: 15px;
  width: 80%;
  margin-bottom: 35px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
