.first {
  margin: 20px 40px;
  padding: 40px 320px;
}

.first h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: #232233;
}
.first p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  color: #6c6c72;
}

.container {
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.wholediv {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-left: 7%;
  margin-right: 7%;
}

.sub1 {
  width: 570px;
}

.sub1 h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 47px;
  text-transform: uppercase;
  color: #232233;
}

.sub1 p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
}

.sub1 img {
  width: 132px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.pngitem {
  margin-left: 17px;
}

.sub3 {
  display: flex;
  gap: 25px;
}

.bluediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 164px;
  height: 170px;
  background: #5851ea;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.bluediv img {
  padding-top: 23px;
  padding-bottom: 5px;
}

.bluediv h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 10px;
  text-transform: uppercase;
  color: #ffffff;
}

.sub2 img {
  width: 149px;
  height: 47px;
}

.subdiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gravity {
  width: 480px;
  height: 440px;
  margin-top: 7%;
  margin-left: 27%;
  z-index: 2;
}

.subdiv2_ellipse {
  margin-left: 15%;
  margin-top: -10%;
  margin-bottom: 4%;
}
