.first {
  /* margin: 20px 40px;
  padding: 40px 320px; */
  margin: 70px 25%;
}

.first h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: #232233;
}
.first p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  color: #6c6c72;
}

.container {
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.wholediv {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-left: 7%;
  margin-right: 7%;
}

.sub1 {
  width: 570px;
}

.sub1 h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 47px;
  text-transform: uppercase;
  color: #232233;
}

.sub1 p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c6c72;
}

.sub1 img {
  width: 132px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.pngitem {
  margin-left: 17px;
}

.sub3 {
  display: flex;
  gap: 25px;
}

.bluediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 164px;
  height: 170px;
  background: #5851ea;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.bluediv img {
  padding-top: 23px;
  padding-bottom: 5px;
}

.bluediv h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 10px;
  text-transform: uppercase;
  color: #ffffff;
}

.sub2 img {
  width: 149px;
  height: 47px;
}

.subdiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gravity {
  width: 480px;
  height: 440px;
  margin-top: 7%;
  margin-left: 27%;
  z-index: 2;
}

.subdiv2_ellipse {
  margin-left: 15%;
  margin-top: -10%;
  margin-bottom: 4%;
}

@media only screen and (max-width: 1261px) {
  .sub1 {
    width: 451px;
  }
  .sub1 h1 {
    font-size: 26px;
    line-height: 45px;
  }
  .bluediv {
    width: 30%;
    height: 30%;
  }
  .bluediv h3 {
    font-size: 15px;
    line-height: 8px;
  }
  .gravity {
    width: 77%;
    height: 87%;
    margin-top: 17%;
    margin-left: 16%;
  }
  .subdiv2_ellipse {
    margin-left: 7%;
  }
}
@media only screen and (max-width: 912px) {
  .sub1 {
    width: 427px;
  }
  .sub1 h1 {
    font-size: 24px;
    line-height: 44px;
  }
  .sub1 p {
    font-size: 15px;
    line-height: 23px;
  }
  .bluediv {
    width: 28%;
    height: 28%;
  }
  .bluediv h3 {
    font-size: 13px;
    line-height: 7px;
  }
  .gravity {
    width: 79%;
    height: 67%;
  }
}
@media only screen and (max-width: 768px) {
  .sub1 {
    width: 327px;
  }
  .sub1 h1 {
    font-size: 20px;
    line-height: 42px;
  }
  .sub1 p {
    font-size: 12px;
    line-height: 20px;
  }
  .sub1 img {
    width: 104px;
    height: 38px;
  }
  .bluediv {
    width: 26%;
    /* height: 28%; */
  }
  .sub3 {
    gap: 18px;
  }
  .bluediv h3 {
    font-size: 10px;
    line-height: 6px;
  }
  .gravity {
    width: 73%;
    height: 80%;
  }
  .subdiv2_ellipse {
    width: 65%;
  }
}

@media only screen and (max-width: 425px) {
  .first h1 {
    font-size: 20px;
    line-height: 38px;
  }
  .wholediv {
    flex-direction: column;
  }
  .sub1 {
    width: 281px;
  }
  .sub1 h1 {
    font-size: 25px;
    line-height: 46px;
  }
  .sub1 p {
    font-size: 14px;
    line-height: 22px;
  }
  .bluediv {
    width: 27%;
    height: 27%;
  }
  .bluediv h3 {
    font-size: 10px;
    line-height: 7px;
  }
  .gravity {
    width: 84%;
    height: 89%;
    margin-top: 19%;
    margin-left: 0%;
  }
  .subdiv2_ellipse {
    margin-left: -7%;
    width: 56%;
  }
}
