.bg {
  background-image: url(../../images/Background\ Image.png);
  height: 130vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  margin: 0px 103px;
  padding-top: 37px;
}
.section-2 {
  padding-top: 10px;
}

.sec-2-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  margin: 0px 100px;
  padding: 10px;
  height: 28px;
  width: auto;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sec-2-div a {
  text-decoration: none;
  color: #232233;
}

.sec-2-div a:hover {
  text-decoration-line: underline;
  color: #5851ea;
}

.s_1 {
  margin-left: 25px;
}

.mainlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 188px;
  height: 78px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.mainlogoimg {
  width: 150px;
  height: 23px;
}

.butn {
  width: 134px;
  height: 39.5px;
  margin-right: -5px;
  background: #5956e9;
  border-radius: 5px;
  border: transparent;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.sec-3-div {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.card-div {
  width: 52%;
  height: 55%;
  background: #ffffff;
  margin-right: -50%;
  margin-top: 210px;
  padding-left: 3%;
  padding-right: 1%;
  z-index: 5;
}

.card-div-one h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 50px;
  text-transform: uppercase;
  color: #5956e9;
}

.card-div-one p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6c6c72;
  margin-top: -20px;
}

.card-div-two h2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 36px;
  text-transform: uppercase;
  color: #232233;
  padding-top: 22px;
}

.card-div-two img {
  width: 132px;
  height: 42px;
  margin-top: -10px;
}

.pngitem {
  margin-left: 17px;
}

.shadowDiv {
  width: 52%;
  height: 440px;

  margin-top: 162px;
  border: 18px solid #7572ff;
}

.hdMobile img {
  width: 445px;
  height: 580px;
  margin-top: 20%;
}

.sec-1-common {
  display: flex;
  gap: 35px;
}

@media only screen and (max-width: 768px) {
  .hdMobile img {
    width: 252px;
    height: 373px;
    margin-top: 59%;
  }

  .card-div {
    width: 53%;
    height: 52%;
    margin-left: 0%;
  }

  .shadowDiv {
    width: 49%;
    height: 311px;
    margin-top: 180px;
  }

  .card-div-one h1 {
    font-size: 23px;
    line-height: 35px;
  }

  .card-div-one p {
    font-size: 11px;
    line-height: 16px;
    margin-top: 0px;
  }

  .card-div-two h2 {
    font-size: 14px;
    line-height: 30px;
    padding-top: 0px;
  }

  .card-div-two img {
    width: 100px;
    height: 30px;
    margin-top: -1px;
  }

  .pngitem {
    margin-left: 17px;
  }
}

/* .sec-3-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  margin-left: 10%;
}

.card-div {
  background: #ffffff;
  width: 450px;
  padding: 10px;
}

.card-div-one h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 50px;
  text-transform: uppercase;
  color: #5956e9;
}

.card-div-one p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6c6c72;
  margin-top: -20px;
}

.hdMobile img {
  width: 445px;
}

@media only screen and (max-width: 1080px) {
  .card-div {
    width: 350px;
  }

  .card-div-one h1 {
    font-size: 30px;
  }

  .hdMobile img {
    width: 415px;
  }
}
@media only screen and (max-width: 950px) {
  .card-div {
    width: 250px;
  }

  .card-div-one h1 {
    font-size: 20px;
  }

  .hdMobile img {
    width: 385px;
  }
}
@media only screen and (max-width: 730px) {
  .card {
    margin-left: 5%;
  }
  .card-div {
    width: 240px;
  }

  .card-div-one h1 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 730px) {
  .card {
    margin-left: 5%;
  }
  .card-div {
    width: 240px;
  }

  .card-div-one h1 {
    font-size: 16px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 680px) {
  .card {
    margin-left: 3%;
  }
  .card-div {
    width: 220px;
  }

  .card-div-one h1 {
    font-size: 14px;
    line-height: 30px;
  }

  .hdMobile img {
    width: 385px;
  }
} */
