.app_features {
  display: flex;
  position: relative;
  height: 1430px;
  margin-top: 120px;
}

.app_feat_back {
  position: absolute;
  inset: 0;
  /* display: flex; */
}

.app_feat_back img {
  height: 1430px;
  width: 100%;
  z-index: 0;
}

.app_feat_items {
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.app_feat_items1 {
  text-align: center;
  padding-top: 100px;
  /* margin-left: 40px;
  margin-right: 40px;
  padding-left: 320px;
  padding-right: 320px; */
  margin: 0px 25%;
  margin-bottom: 25px;
}

.app_feat_items1 h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 47px;
  text-transform: uppercase;
  color: #ffffff;
}

.app_feat_items1 p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 10px;
  margin-top: -4px;
}

.items-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app_feat_items2 {
  text-align: center;
  /* margin-left: 140px;
  margin-right: 140px;
  padding-left: 400px;
  padding-right: 400px; */
  margin: 0px 25%;
}
.app_feat_items4 {
  text-align: center;
  /* margin-left: 140px;
  margin-right: 140px;
  padding-left: 400px;
  padding-right: 400px; */
  margin-top: -40px;
}

.app_feat_items2 img {
  width: 44px;
  height: 41px;
}

.app_feat_items2 h2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
}

.app_feat_items2 p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-top: -10px;
}

.app_feat_items4 {
  text-align: center;
  /* margin-left: 140px;
  margin-right: 140px;
  padding-left: 400px;
  padding-right: 400px; */
  margin-top: -40px;
}

.app_feat_items4 img {
  width: 44px;
  height: 43px;
}

.app_feat_items4 h2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.app_feat_items4 p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-top: -5px;
}

.common {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.common-top {
  margin-top: 70px;
  padding-top: 30px;
}
.common-bottom {
  margin-bottom: 80px;
  padding-bottom: 50px;
}

.items3_common {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 12px;
}

.left {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  /* width: 255px; */
}

.items3_right {
  margin-left: -50px;
}
.right {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  /* width: 280px; */
}

.left img {
  width: 35px;
  height: 35px;
}
.right-top {
  width: 25px;
  height: 36px;
}
.right-bottom {
  width: 35px;
  height: 36px;
}

.left h2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}
.right h2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.left p {
  margin-top: 10px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  margin-top: -4px;
}
.right p {
  margin-top: 10px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  margin-top: -4px;
}

.items3_img img {
  width: 424px;
  height: 748px;
}

@media only screen and (max-width: 768px) {
  .items3_img img {
    height: 688px;
    width: 320px;
  }
}

@media only screen and (max-width: 600px) {
  .app_features {
    height: 1480px;
  }

  .app_feat_back img {
    height: 1480px;
  }

  .items3_img img {
    height: 730px;
    width: 320px;
  }
}
@media only screen and (max-width: 542px) {
  .app_features {
    height: 1500px;
  }

  .app_feat_back img {
    height: 1500px;
  }

  .items3_img img {
    height: 770px;
    width: 320px;
  }
}
@media only screen and (max-width: 528px) {
  .app_features {
    height: 1510px;
  }

  .app_feat_back img {
    height: 1510px;
  }

  .items3_img img {
    height: 780px;
    width: 300px;
  }
}
@media only screen and (max-width: 508px) {
  .app_features {
    height: 1510px;
  }

  .app_feat_back img {
    height: 1510px;
  }

  .items3_img img {
    height: 790px;
    width: 290px;
  }
}
@media only screen and (max-width: 497px) {
  .app_features {
    height: 1535px;
  }

  .app_feat_back img {
    height: 1535px;
  }

  .items3_img img {
    height: 798px;
    width: 215px;
  }
}

@media only screen and (max-width: 425px) {
  .app_features {
    height: 2100px;
  }

  .app_feat_back img {
    height: 2100px;
  }

  .items3_img img {
    width: 360px;
    height: 640px;
    margin-left: 50px;
    margin-top: -120px;
    margin-bottom: -20px;
  }

  .items3_common {
    flex-direction: column;
    align-items: center;
  }

  .items3_right {
    margin-left: 0px;
  }

  .left {
    align-items: center;
  }

  .common-top {
    margin-top: -5px;
  }

  .common-bottom {
    margin-top: 20px;
  }

  .right {
    align-items: center;
  }

  .app_feat_items4 img {
    margin-top: -50px;
    margin-left: 10px;
  }
}
