.full_footer {
  position: absolute;
  padding-top: 15%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #232233;
}

.Footer {
  display: flex;
  justify-content: space-between;

  /* align-items: center; */
  /* padding-top: 15%;
  padding-left: 10%;
  padding-right: 10%;

  background: #232233; */
}

.Logo {
  display: block;
  width: 29%;
}

.logo h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-transform: uppercase;
  color: #ffffff;
}

.logo p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.links {
  display: flex;
  gap: 30px;
}
.links div {
  border-right: 1px solid #ffffff;
}

.quickLinks h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 58px;
  /* identical to box height, or 150% */

  text-transform: uppercase;

  /* White */

  color: #ffffff;
}

.quickLinks p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.newsLetter h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
}

.newsLetter p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.newsLetter input {
  width: 369px;
  height: 50px;

  background: #ffffff;
  border-radius: 4px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #6c6c72;
}

.newsLetter button {
  width: 52px;
  height: 46px;

  background: #5956e9;
  border-radius: 4px;
}

/* .hr {
  width: 1167px;
  height: 0px;
  border: 1px solid #ffffff;
} */
